*~
bosstrials-override.1.bl3hotfix
bosstrials-override.1.spawnoptions.json
bosstrials.*.*.bl3hotfix
bosstrials.*.*.spawnoptions.json
skrunt1/bosstrials.1.221.spawnoptions.json
skrunt1/bosstrials.1.spawnoptions.json~
skrunt1/bosstrials.4.394.spawnoptions.json
skrunt1/bosstrials.4.spawnoptions.json~
skrunt1/bosstrials.5.415.spawnoptions.json
skrunt1/bosstrials.6.664.spawnoptions.json
skrunt1/bosstrials.7.850.spawnoptions.json
skrunt1/bosstrials.8.913.spawnoptions.json
spawnoptions.1.*.json
trial.json
spawnoptions.6.debug.json
spawnoptions.7.debug.json
spawnoptions.output.json
