bl3data
bl3save
bl3hotfixmod
extracted
*.csv
!artifact_balances.csv
!com_balances.csv
!grenade_balances.csv
!gun_balances.csv
!shield_balances.csv
*.csv.bak
*.txt
*.txt.bak
*.json
*.json.xz
*.dot
*.png
*.svg
dlc3_tech.out
bl3refs.sqlite3.zip
bl3refs.sqlite3
bl3refs.zip
wlrefs.sqlite3.zip
wlrefs.sqlite3
mayhem.php
